#box{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 2000px;
    width: 1000px;
    padding: 20px; 
    box-shadow: 5px 5px 15px rgb(172, 172, 172); 
    margin: 10px;
    float: left;
}




